<script setup lang="ts">
import { useAddressStore } from '@/stores/addressBookStore';
import AddressBookFrom from './AddressBookForm.vue'
import AddressBookList from './AddressBookList.vue'
const addressBookStore = useAddressStore()
</script>

<template>
  <div>
    <AddressBookFrom></AddressBookFrom>
    <AddressBookList></AddressBookList>
  </div>

  
</template>

<style scoped>

</style>
