<script setup lang="ts">
import { onMounted, ref } from 'vue'
// interface Props {
//     // num: string
//     num: number
//     inc?: number // Optional
// }

type Props = {
    // num: string
    num: number
    inc?: number // Optional
}

const prop = withDefaults(
  defineProps< Props
    // num: string
    // num: number
    // inc?: number // Optional
  >(),
  {
    inc: 1
  }
)

const emit = defineEmits<{
    // numClick: [num: number, msg: string]
    numClick: [num: number]
}>()

// const _num = ref(parseInt(prop.num))
const _num = ref(prop.num)
const doInc = () => {
  _num.value = _num.value + prop.inc ?? 1
//   emit('numClick',_num.value,"ahaha")
emit('numClick',_num.value)
}

onMounted(() => {
  console.log(prop.num)
})
</script>

<template>
  <button @click="doInc()">{{ _num }}</button>
</template>

<style scoped></style>
